@import "colors.scss";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// universal 
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 120px; 
  margin-bottom: 10px;
  text-shadow: 0 0 5px black;
  color: $almost-white;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 100px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* pseudo-header */
.header-content {
  background-image: url("dark_background_image.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

.background-image {
  background-image: url("dark_background_image.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

.navbar-inverse{
  border: none;
  background-color: #723e3e00;
  //text-shadow: 0 0 100px black
}

.header-container{
  //position: relative;
  padding: 0 15% 0 15%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-top: 9px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0; 
  li {
    font-size: 1.2rem;
    text-shadow: 0 0 20px black;
    font-weight: bold;
    color: $almost-white;
    position: relative;
    padding: 10px 12px; 
    margin: 0; 
    //font-size: 1.1rem;
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      top: 50%;
      left: 100%;
      background-color: $almost-white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// delimitation of text Ordering Food
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px; 
  margin: 0 auto;
  margin-top: 35px; 
  margin-bottom: 35px;
  .dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
  }
  .line {
    flex: 1.5;
    height: 1.5px;
    background-color: $almost-white;
  }
}



// bar with dropdown
.site-main{
  display: flex;
  width: 100%;
}

.bar {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0 15% 0 15%;
  display: flex;
  justify-content:space-between;
  background-color: #d6d3d3;
  position: relative;
  //padding: 10px 12px; 
  margin: 0; 
  font-size: 1.1rem;
  font-weight: bold;
}

.subnav-bar {
  padding-right: 20%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #DFCDC9;
  min-width: 100px;
  align-items: center;
}

.subnav-menu:hover {
  .subnav-content {
  display: block;
  a {
    display: block;
    padding: 6px 8px;
    background-color: #fff9f9;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:hover {
      background-color: #d8d4d4;
    }
  }
  cursor: pointer;
  align-items: center;
  }
}

.price-filter {
  padding: 12px 0 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  :nth-child(3) {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  div{
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 7px;
    justify-content: space-evenly;
  }
}

.text-bar{
  font-size: 1.1rem;
  font-weight: bold;
}

.text-account{
  color: #9d9d9d;
  text-shadow: 0 0 20px black;
  margin-right: -12px;
  margin-left: 11px;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-top: -10px;
  width: auto;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  // @include box_sizing;
}
  