@import "colors.scss";

// footer 
footer {
  margin-top: 50px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    font-size: 1.3rem;
    color: $gray;
    &:hover {
      color: darken($gray, 20%);
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
  
.content-footer{
  margin-top: -5px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-content: end;
  font-size: 1.3rem;
  font-style: italic;
}
